body {
    background-color: #ccffcc80;
}

.container {
    width: 1200px;
    margin: auto;
}

table {
    background-color: #ffffff;
    border: 1px solid #000000;
    padding: 15px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

audio {
    display: block;
    margin: 30px auto 30px auto;
    text-align: center;
}

.top-low {
    float: left;
    width: 33%;
}

.mygit {
    margin: auto;
}

.mylist {
    width: 80%;
    text-align: center;
    margin: auto;
}

.mylist th {
    padding: 20px 20px 20px 0px;
    border-right: 1px solid #000000;
}

.mylist td {
    padding-left: 20px;
}

ul > li {
    padding: 10px 0px 10px 0px;
}

#git-link {
    text-align: center;
}

#git-link div {
    text-align: center;
}
