@charset "utf-8";
/* 구글 폰트 링크 */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Noto+Sans+KR:wght@400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

#write_pw {
  text-align: center;
  border: 1px solid rgb(218, 220, 224);
  position: absolute;
  height: 200px;
  width: 400px;
  margin: -150px 0 0 -200px;
  top: 50%;
  left: 50%;
  padding: 5px;
}

#write_pw:hover {
  border: 1px solid #6a34fd;
  transition: all 0.5s ease;
}

.pass {
  font-size: 17px;
  margin-top: 18px;
  margin-bottom: 50px;
}

#input_pw {
  text-align: center;
  font-size: 20px;
  border: none;
  border-bottom: 1.3px solid rgb(218, 220, 224);
}

#input_pw:focus {
  background-color: rgb(243, 243, 243);
  border-bottom: 1.3px solid #6a34fd;
  outline: none;
  transition: all 0.5s ease;
}

#submit_pw {
  position: relative;

  margin-top: 15px;
  width: 60px;
  height: 40px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 20px;
}

#submit_pw:hover {
  color: #ffffff;
  background: #6a34fd;
  transition: all 0.5s ease;
}
